# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
.utmp/
Assets/InitTestScene*
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Aa]ssets/AssetStoreTools*
[Aa]ssets/StreamingAssets/aa.meta
[Aa]ssets/StreamingAssets/aa/*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Unity 自动生成
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 崩溃 / 性能数据
sysinfo.txt
crashlytics-build.properties

# ===== 构建产物 =====
*.apk
*.aab
*.unitypackage
*.app

# ===== IDE / 系统 =====
# VS Code：忽略个人工作区文件，但保留团队共享的调试/推荐配置
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

# ===== 签名密钥与构建产物（切勿提交！）=====
*.keystore
*.jks
*.key
**/LocalProperties/
google-services.json
BuildConfig/keystore.json
[Bb]uild/
[Bb]uilds/
